header{
    background: white;
    font-size: 5rem;
    text-align: center;

}

section{
    background: white;


}

.emojis
{
    display: flex;
    flex-wrap: wrap;

}


.emoji{
    background: yellow;
    text-align: center;
    width: 220px;
    height: 150px;
    margin: 5px;
    font-size: 4rem;
    font-weight: bold;
    border-style: double;

    
}

