body{
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
footer, .header{
background-color: black;
color: lime;
}

a{
    color: lime;
    text-decoration: none;
    background-color: black;
}
a:hover {
    text-decoration:  underline overline;
    color: white
  }
  
.site-title{
    font-family: time;
    color: lime;
}
#my-image{
    box-shadow:0px 0px 2px 1px #0c0b0b
}
.list{
    list-style-type:square}
.list li:nth-child(3) {
        background: rgb(25, 237, 57);
      }
.list li:nth-child(1) {
        background: rgb(25, 237, 57);
      }